body{
    padding: 0px;
    margin: 0px;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

.primary-color {
    background: #EA2B4A;
    color: #fff;
}

.text-black {
    color: #000 !important;
}

.promotion-image {
    width: 100% !important;
    height: 300px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion-image .img-promo {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.text-2xl {
    font-size: 2rem;
}

@media (max-width: 720px) {
    .promotion-image{
        width: 400px;
        height: 200px;
    }
}

@media (max-width: 480px) {
    .promotion-image{
        width: 300px;
        height: 200px;
    }
}

.w-300 {
    width: 300px !important;
}

.w-200 {
    width: 200px !important;
}

.h-300 {
    height: 300px !important;
}

.h-200 {
    height: 200px !important;
}

.bg-gray-300 {
    background-color: #e5e7eb;
}

.input-label {
    color: #000;
}

.title {
    font-weight: 600;
}

.sidebar-header > h3,
.sidebar-header > small {
    padding: 0px;
    margin: 0px;
}

.bg-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #10101121;
    border-radius: 6px;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-loading > img {
    width: 100px;
    height: 100px;
}

.search {
    position: relative;
}

.remove-search {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #ced4da;
    position: absolute;
    top: 50%;
    right: 55px;
    transform: translateY(-50%);
    z-index: 9;
}

.remove-search-icon {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.remove-search > span > i {
    font-size: 10px;
    color: #6c757d;
}

.count-card {
    width: 200px;
    height: 85px;
    color: #fff;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.count-card.status.order {
    color: #EA2B4A;
    background-color: #fff;
}

.count-card.status.item {
    color: #482ff7;
    background-color: #fff;
}

.count-card.status.user {
    color: #17b978;
    background-color: #fff;
}

.count-card.order {
    background-color: #EA2B4A;
}

.count-card.item {
    background-color: #482ff7;
}

.count-card.user {
    background-color: #17b978;
}

.count-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count-icon.order {
    color: #EA2B4A;
}

.count-icon.status.order{
    color: #fff;
    background-color: #EA2B4A;
}

.count-icon.status.item{
    color: #fff;
    background-color: #482ff7;
}

.count-icon.status.user{
    color: #fff;
    background-color: #17b978;
}

.count-icon.item {
    color: #482ff7;
}

.count-icon.user {
    color: #17b978;
}

/** Layout **/
.wrapper {
    width: 100%;
    position: absolute;
}

.app-toolbar {
    width: 100%;
    position: fixed;
    z-index: 99;
}

.app-container {
    width: 100%;
    color: #fff;
    margin-top: 64px;
}

.app-content {
    width: 100%;
    background: #f7f7f7;
}

.nav-link {
    color: #4338CA;
    cursor: pointer;
}

.nav-link:hover {
    text-decoration: underline;
}

/** Button **/
.menu-btn {
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
}

.error-message {
    color: #ec2929;
    font-size: small;
    font-weight: 400;
}

/** Overwrite CSS **/
.grid {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.p-card {
    background: #ffffff;
    color: #495057;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    position: relative;
}

.toolbar {
    width: 100%;
    border-radius: 0px;
    min-height: 50px;
    padding: 0px;
    border: 0px;
}

.p-sidebar {
    box-shadow: 0px 2px 3px 0px rgba(247, 247, 247,1);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(247, 247, 247,1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(247, 247, 247,1);
}

.p-sidebar-header {
    padding: 10px;
    font-weight: 500;
    box-shadow: 0px 2px 3px 0px rgba(247, 247, 247,1);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(247, 247, 247,1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(247, 247, 247,1);
}

.p-sidebar-content {
    padding: 0px;
    padding-top: 10px;
}

.p-tree {
    border: 0px;
}

.p-menu-overlay > ul > li > a > span {
    color: #000;
}

.p-inputtext {
    color: #000;
    width: 100%;
}

.p-avatar {
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-avatar::after {
    content:  '';
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px dashed #dee2e6;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}

/** --Breadcrumb--  **/
.breadcrumbs-card,
.breadcrumbs-card > .p-card-body,
.breadcrumbs-card > .p-card-body > .p-card-content {
    padding: 0px;
    margin: 0px;
}

.breadcrumbs-card {
    margin-top: 5px;
    color: #495057;
}

.breadcrumbs-card > .p-card-body > .p-card-content {
    padding: 10px;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.breadcrumb-item {
    padding: 5px;
    cursor: pointer;
}

.breadcrumb-item > label {
    cursor: pointer;
}

.breadcrumb-item > label:hover {
    text-decoration: underline;
    color: blue;
}
/** --End of breadcrumb--  **/

/** Card **/
.p-card-subtitle,
.p-card-title {
    padding: 0 0.5rem;
}

/** Chip **/
.p-chip .p-chip-text {
    font-size: small;
    font-weight: 500;
}

.chip-success { 
    background: #21a321; 
    color: #fff; 
}

.chip-danger {
    background: #DC2626; 
    color: #fff; 
}
.chip-info {
    background: #21a392;
    color: #fff;
}

.chip-warn {
    background-color: #eec137;
    color: #fff;
}

.profile {
    padding: 0px;
    margin: 0px;
    padding-top:5px;
    padding-bottom: 5px;
}

.profile > img {
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 5px;
    margin-left: 5px;
}

.profile > p {
    padding: 0px;
    margin: 0px;
}

.profile > p:last-child {
    color: #f0f0f0;
}

.category-icon {
    width: 50px;
    height: 50px;
}
.category-icon::after {
    content: ""!important;
    width: 0px;
    height: 0px;
}